<div class="container">

  <div class="row justify-content-center" *ngIf="IsMatchSetupVisible">
    <app-fleet-configurator (WhenIsConfigNeededChanged)="handleWhenIsConfigNeededChanged($event)"></app-fleet-configurator>
  </div>

  <div class="row justify-content-center" *ngIf="IsWaitingForEnemyToConfig">
    <h4>Waiting for emeny to line-up ...</h4>
  </div>

  <div class="row" *ngIf="IsMatchEnded">
    <div class="col">

      <div class="alert alert-{{DidIWin ? 'success': 'danger'}} w-100 text-center" role="alert">
        <strong>YOU {{DidIWin ? 'WON': 'LOST'}}! <a href="/match-finder">Play again!</a></strong>
      </div>

    </div>
  </div>

  <div class="row justify-content-center" *ngIf="AreTurnControllersVisible">

    <div class="col-lg-6">
      <app-enemy-turn-controller></app-enemy-turn-controller>
    </div>

    <div class="col-lg-6">
      <app-own-turn-controller></app-own-turn-controller>
    </div>

    <div class="col">
      <br>
      <app-match-chat [InterlocutorId]="AddresseeId"></app-match-chat>
    </div>

  </div>

</div>