<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="container">

    <a class="navbar-brand" href="/">Battleship</a>

    <span class="navbar-text" *ngIf="IsLogged">{{Username}}</span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="./rankings">Rankings</a>
        </li>
        <li class="nav-item" *ngIf="IsLogged">
          <a class="nav-link" href="javascript:void(0)" (click)="logout()">Logout</a>
        </li>
      </ul>

    </div>

  </div>

</nav>