<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="container">

    <a class="navbar-brand" href="/">Battleship</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" href="{{IsLogged ? './match-finder' : './login'}}">Play</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="./rankings">Rankings</a>
        </li>

        <li class="nav-item dropdown" *ngIf="IsLogged">
          <a class="nav-link" href="./chat">Chat</a>
        </li>

        <li class="nav-item dropdown" *ngIf="IsLogged">
          <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">{{Username}}</a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="./users/self">Profile</a>
            <!-- <a class="dropdown-item" href="./users/self/match-history">Match history</a> -->
            <a class="dropdown-item" href="javascript:void(0)" (click)="logout()">Logout</a>
          </div>

        </li>

        <li class="nav-item" *ngIf="!IsLogged">
          <a class="nav-link" href="./login">Login</a>
        </li>

      </ul>

    </div>

  </div>

</nav>