<ion-app>

  <ion-split-pane>

    <ion-menu>

      <ion-header>
        <ion-toolbar>
          <ion-title>Battleship</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <app-side-menu></app-side-menu>
      </ion-content>

      <ion-footer *ngIf="IsLogged">
        <ion-toolbar>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" lines="none" routerLink="/users/{{LoggedUserId}}">
              <ion-title>{{LoggedUsername}}</ion-title>
            </ion-item>
          </ion-menu-toggle>

        </ion-toolbar>
      </ion-footer>

    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>

  </ion-split-pane>

</ion-app>