<div class="row justify-content-center">
  <h1>
    <a routerLink="/users/{{EnemyId}}" *ngIf="EnemyId">{{EnemyUsername}}</a>
    <span *ngIf="!EnemyId">Enemy</span>
  </h1>
</div>

<div class=" row
      justify-content-center">
  <table id="bf-grid" class="bf-grid" [ngClass]="!IsEnabled ? 'bf-grid-disabled' : ''">
    <tbody>
      <tr *ngFor="let row of Cells">
        <td class="bf-grid-cell" (click)="fire(cell)" [attr.data-x]="cell.Coord.X" [attr.data-y]="cell.Coord.Y"
          [ngClass]="[getCellStatusUIClass(cell), (!this.CanFire ? 'bf-grid-cell-disabled' : '')]"
          [style.padding-bottom]="100/BattleFieldWidth + '%'" *ngFor="let cell of row">
        </td>
      </tr>
    </tbody>
  </table>
</div>