/* You can add global styles to this file, and also import other style files */
.bf-grid-cell.ship {
    background-color: #999999;
}
.bf-grid-cell.hit-water {
    background-color: #0066ff;
}
.bf-grid-cell.hit-ship {
    background-color: #cc0000;
}