.bf-grid {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    max-width: 350px;
}

.bf-grid-cell {
    border: 1px solid black;
}

.bf-grid-cell-unknown {
    background-color: rgb(235, 249, 255);
    cursor: pointer;
}
.bf-grid-cell-ship {
    background-color: #888;
}
.bf-grid-cell-water {
    background-color: #0066ff;
}
.bf-grid-cell-hit {
    background-color: #cc0000;
}