<div class="container-fluid">

  <div class="row justify-content-center">
    <h1>Choose your lineup!</h1>
  </div>

  <!-- <div class="ships-bag">
  <div class="placeableShip">Thing 1</div>
  <div class="placeableShip" style="top:110px">Thing 2</div>
</div> -->

  <div class="row justify-content-center">
    <!-- <div class="col-lg-12"> -->
    <table id="bf-grid" class="bf-grid">
      <!-- <thead>
        <tr>
          <th attr.colspan="{{BattleFieldWidth}}">
            <p>W: {{BattleFieldWidth}} x H: {{BattleFieldHeight}}</p>
          </th>
        </tr>
      </thead> -->
      <tbody>
        <tr *ngFor="let row of BattleFieldDummyRows">
          <td class="bf-grid-cell dropzone" [style.padding-bottom]="CellHeightPercent + '%'" *ngFor="let col of BattleFieldDummyCols"></td>
        </tr>
      </tbody>
    </table>
    <!-- </div> -->
  </div>

  <div class="row mt-2 justify-content-center">
    <!-- <div class="col-lg-12"> -->
    <button type="button" class="btn btn-outline-primary margin-right-10" (click)="randomizeFleet()">Randomize!</button>
    <button type="button" class="btn btn-outline-success" (click)="submitConfig()">Play!</button>
    <!-- </div> -->
  </div>

</div>