<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Match VS <a routerLink="/users/{{EnemyId}}" *ngIf="EnemyId">{{EnemyUsername}}</a></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-tabs #_tabs>

    <ion-tab tab="fleet-configurator-tab">
      <ion-content *ngIf="IsMatchConfigVisible || IsWaitingForEnemyToConfig">

        <ion-grid>

          <ion-row *ngIf="IsMatchConfigVisible">
            <ion-col>
              <app-fleet-configurator [MatchInfo]="MatchInfo"></app-fleet-configurator>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="IsWaitingForEnemyToConfig">
            <ion-col>
              <h4 text-center>Waiting for emeny ...</h4>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="IsWaitingForEnemyToConfig" text-center>
            <ion-col>
              <ion-spinner name="crescent"></ion-spinner>
            </ion-col>
          </ion-row>

        </ion-grid>

      </ion-content>
    </ion-tab>

    <ion-tab tab="own-field-controller-tab">
      <ion-content *ngIf="AreFieldsVisible">
        <app-own-field-controller #OwnFieldController [MatchInfo]="MatchInfo"> </app-own-field-controller>
      </ion-content>
    </ion-tab>
    <ion-tab tab="enemy-field-controller-tab">
      <ion-content *ngIf="AreFieldsVisible">
        <app-enemy-field-controller #EnemyFieldController [MatchInfo]="MatchInfo"></app-enemy-field-controller>
      </ion-content>
    </ion-tab>

    <ion-tab tab="chat-tab">
      <ion-content *ngIf="IsChatVisible">
        <app-match-chat [InterlocutorId]="EnemyId"></app-match-chat>
      </ion-content>
    </ion-tab>

    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="fleet-configurator-tab" *ngIf="IsMatchConfigVisible || IsWaitingForEnemyToConfig">
        <ion-label>Config</ion-label>
        <ion-icon name="boat"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="own-field-controller-tab" *ngIf="AreFieldsVisible">
        <ion-label>Defend</ion-label>
        <ion-icon name="heart"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="enemy-field-controller-tab" *ngIf="AreFieldsVisible">
        <ion-label>Attack</ion-label>
        <ion-icon name="locate"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="chat-tab" *ngIf="IsChatVisible">
        <ion-label>Chat</ion-label>
        <ion-icon name="chatbubbles"></ion-icon>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>

</ion-content>