<div class="container">

  <div class="row justify-content-center" *ngIf="IsMatchConfigVisible">
    <app-fleet-configurator [MatchInfo]="MatchInfo"></app-fleet-configurator>
  </div>

  <div class="row justify-content-center" *ngIf="IsWaitingForEnemyToConfig">
    <h4>Waiting for {{EnemyUsername}} to line-up ...</h4>
  </div>

  <div class="row" *ngIf="IsWinnerBannerVissible">
    <div class="col">

      <div class="alert alert-{{DidIWin ? 'success': 'danger'}} w-100 text-center" role="alert">
        <strong>YOU {{DidIWin ? 'WON': 'LOST'}}! <a routerLink="/match-finder">Play again!</a></strong>
      </div>

    </div>
  </div>

  <div class="row justify-content-center" *ngIf="AreFieldsVisible">

    <div class="col-lg-6">
      <app-own-field-controller [MatchInfo]="MatchInfo"></app-own-field-controller>
    </div>

    <div class="col-lg-6">
      <app-enemy-field-controller [MatchInfo]="MatchInfo"></app-enemy-field-controller>
    </div>

  </div>

  <div class="row justify-content-center mt-2" *ngIf="IsChatVisible">

    <div class="col">
      <app-match-chat [InterlocutorId]="EnemyId"></app-match-chat>
    </div>

  </div>

</div>