<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>proca puttanega</title>
    <link rel="stylesheet" href="styles/site.css">
    <script src="views/signup/signup.js"></script>
</head>

<body>
    <p>Pagina di prova</p>
    <form>
        <input type="text" placeholder="Username" />
        <input type="password" placeholder="Password" />
        <input type="password" placeholder="Repeat password" />
        <input type="email" placeholder="email" />
        <input type="submit" value="Signup!" />
    </form>
</body>

</html>