<div class="row justify-content-center">
  <h1>Choose your line-up!</h1>
</div>

<div class="row justify-content-center">

  <div class="col-lg-9 justify-content-center">

    <div class="row justify-content-center">
      <table id="bf-grid" class="bf-grid">
        <tbody>
          <tr *ngFor="let row of Cells">
            <td class="bf-grid-cell" [attr.data-x]="cell.Coord.X" [attr.data-y]="cell.Coord.Y" [ngClass]="cell.ShipType > 0 ? 'bf-grid-cell-ship' : ''"
              [style.padding-bottom]="100/BattleFieldWidth + '%'" *ngFor="let cell of row">
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row mt-2 justify-content-center">
      <button type="button" class="btn btn-primary mr-2" [disabled]="!CanRandomize" (click)="randomizeFleet()">Randomize!</button>
      <button type="button" class="btn btn-success" [disabled]="!CanSubmitConfig" (click)="submitConfig()">Play!</button>
    </div>

  </div>

</div>