<div class="row justify-content-center">

  <ul class="nav nav-tabs" id="myTab" style="width: 100%;" role="tablist">

    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
        aria-selected="true">Chats</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
        aria-selected="false">New message</a>
    </li>

  </ul>

  <div class="tab-content" style="width: 100%;" id="myTabContent">

    <div class="tab-pane fade show active" style="width: 100%;" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="card" style="width: 100%;" *ngFor="let chat of ChatHeaders">
        <div class="card-body">
          <h5 class="card-title">{{chat.Interlocutor.Username}}</h5>
          <p class="card-text">{{chat.LastMessage.Text}}</p>
          <p class="card-text">{{chat.LastMessage.Timestamp | date: 'dd/MM/yy HH:mm:ss.SSS'}}</p>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"></div>

  </div>

</div>