<div class="container" style="width: 400px; margin-top: 20px;">

  <form class="signup-form">

    <div class="text-center">
      <i class="fas fa-envelope loginlogo"></i>
      <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>
    </div>


    <div class="form-group">
      <label for="signup-form-username">Username</label>
      <input type="text" #username="ngModel" required name="username" [(ngModel)]="signupRequest.username" class="form-control"
        id="signup-form-username" placeholder="Enter username">
    </div>

    <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
      Username is required
    </div>

    <div class="form-group">
      <label for="signup-form-email">Email address</label>
      <input type="email" #mail="ngModel" name="mail" [(ngModel)]="signupRequest.mail" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" class="form-control"
        required id="signup-form-email" aria-describedby="signup-form-email-help" placeholder="Enter email">
      <small id="signup-form-email-help" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div [hidden]="mail.valid || mail.pristine" class="alert alert-danger">
      Mail is not valid
    </div>

    <div class="form-group">
      <label for="signup-form-password">Password</label>
      <input type="password" #password="ngModel" required name="password" [(ngModel)]="signupRequest.password" class="form-control"
        id="signup-form-password" placeholder="Enter password">
    </div>

    <div class="form-group">
      <label for="signup-form-password-repeated">Repeat password</label>
      <input type="password" #passwordRepeated required name="passwordRepeated" class="form-control" id="signup-form-password-repeated"
        placeholder="Repeat password">
    </div>

    <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
      Password is required
    </div>

    <div [hidden]="(password === passwordRepeated) || password.pristine || passwordRepeated.pristine" class="alert alert-danger">
      Passwords do not match
    </div>

    <div *ngIf="errmessage" class="alert alert-danger" role="alert">
      Login error: {{errmessage}}
    </div>

    <button class="btn btn-lg btn-primary btn-block" [disabled]=" !mail.valid || !password.valid || !username.valid" (click)="sendSignupRequest();">Sign up</button>
    <button class="btn btn-lg btn-primary btn-block" (click)="sendSignupRequest();">Sign up 2</button>
  </form>
</div>